*{
    /* CSS Reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}


body{
    /* Set Display and Flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    height: 100vh;
    background:linear-gradient(135deg,#153677,#4e085f)
    
}

.container{
      width: 500px;
      height: 600px;
      background-color: rgb(255, 255, 255);
      color: white;
      padding: 20px;
      position: relative;
      border-radius: 10px;
}


.row-1{
    /* display: flex; */
    display: flex;
    align-items: center;
    justify-content: left;
    
    margin-top: 30px;
    .title{
        font-size: 23px;
        font-weight: 600;
        color: rgb(101, 40, 255);

    }
    img{
        width: 30px;
        margin-left: 10px;


    }
}


.row-2{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin: 20px 0; */
    margin: 20px auto;
    background-color: #949494;
    padding: 0px;
    position: relative;
    border-radius: 50px;
    width: 400px;
    input{
        border-radius: 50px;
        outline: none;border: none;
        font-size: 20px;
        padding: 15px 25px;
        background-color: rgba(231, 231, 231, 1);
        width: 400px;


    }
    button{
        background-color: rgb(96, 96, 255);
        font-size: 18px;
        color: white;
        border: none;
        outline: none; 
        padding: 17px 35px;
        position: absolute;
        right:0px;
        border-radius: 30px;


        
        

    }
}



ul{
    li{
        display: flex;
        cursor: pointer;
        /* background-color: #fff; */
        padding: 15px 10px;
        margin: 15px;
        text-decoration: none;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        color: black;
        position: relative;
        font-size: 18px;
        /* padding: 10px; */
      
      
        
      
        .unchecked{
            background-image: url('./unchecked.png');
            background-size: cover;
            /* background-color: yellow; */
            padding: 0;
            width: 25px;
            height:25px;
            /* padding: 10px; */
            margin-right: 10px;
            transition: all .4s;
            
        }
     
   

    .cross{
        width: 40px;
        padding: 10px;
        right: 0;
        position: absolute;
        /* box-sizing: border-box; */
        
    }
    .cross:hover{
        background-color: rgb(2,2,2,.1);
        cursor: pointer;
      
        border-radius: 50%;
    }


    .checked{
        background-image: url('./checked.png');
        background-size: contain;
        padding: 4px;
        width: 25px;
        height:25.3px;
        /* padding: 10px; */
        margin-right: 10px;
        transition: all .4s;
    }


    


    

   
   
    }
}